<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSCore" version="1.2.1.2" targetFramework="net461" />
  <package id="CSCore.Visualization" version="0.8.9" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.1" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.5.0.1205" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.0" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net461" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net461" />
</packages>